body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  line-height: 150%;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--white);
  color: var(--black);
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1380px;
}

.menu-active {
  left: 0;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}
