body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  line-height: 150%;
  font-weight: 400;
  font-size: 12px;
  background-color: var(--white);
  color: var(--black);
}

button {
  transition: all 0.3s ease;

  &:active {
    transform: scale(0.95);
  }
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1380px;
}

.menu-active {
  left: 0;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 990px) {
  button {

    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.95);
      background-color: var(--darkBlue75);
    }
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .container {
    padding: 0 20px;
  }
}
