:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Poppins", sans-serif;

	--blue100: #c2d1e0;
	--blue75: #d1dde8;
	--blue50: #e0e7ef;
	--blue25: #eff3f7;
	--darkBlue100: #036;
	--darkBlue75: #40668c;
	--darkBlue50: #7f98b2;
	--darkBlue25: #bfccd8;
	--white: #fbfbfb;
	--black: #343434;
	--gray500: #6b6b6b;
	--gray300: #a6a5a5;
	--gray200: #c4c4c4;
	--gray100: #ececec;
	--gray50: #f3f3f3;
	--gray25: #f9f9f9;
	--whiteInput: #fefefe;
}
