.about {
  padding-block: 30px;

  &__header {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    padding-top: 10px;
  }

  &__image {
    flex: 48.88%;
    border-radius: 14px;
  }

  &__info {
    padding-top: 15px;
    flex: 49.25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
    color: var(--white);
  }

  &__team {
    padding: 20px 15px;
    border-radius: 14px;
    background-color: var(--darkBlue100);
    text-align: left;
  }

  &__subtitle {
    padding-bottom: 10px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__results {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__result {
    padding: 15px 15px;
    flex: 40%;
    border-radius: 14px;
    background-color: var(--darkBlue100);

    span {
      font-family: var(--second-family);
      font-size: 22px;
      line-height: 150%;
    }
  }

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 49px;

    &__subtitle {
      font-size: 30px;
    }

    &__results {
      padding-top: 30px;
      display: flex;
      gap: 24px;
    }

    &__result {
      padding: 40px 12%;

      span {
        font-size: 28px;
      }
    }
  }

  @media (min-width: 990px) {
    &__content {
      padding-top: 20px;
      display: flex;
      gap: 25px;
      align-items: stretch;
      justify-content: space-between;
    }

    &__image {
      object-fit: cover;
      height: 100%;
    }

    &__info {
      padding-top: 0;
    }

    &__team {
      p {
        font-size: 14px;
      }
    }

    &__subtitle {
      font-size: 26px;
    }

    &__results {
      padding-top: 20px;
      display: flex;
      gap: 24px;
    }

    &__result {
      padding: 25px 5%;

      span {
        font-size: 28px;
      }
    }
  }

  @media (min-width: 1440px) {
    &__team {
      padding: 37px 32px 32px 34px;

      p {
        font-size: 18px;
      }
    }

    &__header {
      padding-bottom: 2px;
    }

    &__subtitle {
      padding-bottom: 21px;
      font-size: 36px;
    }

    &__result {
      padding: 32px 12% 60px;

      span {
        font-size: 42px;
      }
    }
  }
}
