.navigation {
  display: none;

  @media (min-width: 768px) {
    flex: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 500;
    font-size: 16px;

    &__list {
      display: flex;
      gap: 16px;
    }

    &__li {
      padding: 12px 8px;
    }

    &__button {
      display: flex;
      gap: 4px;
    }

    &__shevron {
      stroke: var(--darkBlue100);
      transform: rotate(90deg);
    }
  }
}
