.card {
  flex: 30%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 14px;
  background-color: var(--white);

  &__title {
    flex: auto;
  }

  @media (min-width: 990px) {
    padding: 30px;
  }
}
