.form {
  text-align: left;

  &__inputs {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__submit {
    padding: 14px 20px;
    border-radius: 14px;
    font-family: var(--second-family);
    font-size: 20px;
    background-color: var(--white);
    color: var(--darkBlue100);
  }
}
